.loader {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 78px;
    opacity: 0.8;
  
  .loader:before {
    content: "{";
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }
  .loader:after {
    content: "}";
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
  }}

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }

  
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: calc(100% + 150px);
  
  
  .custom-loader{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:768px){
  .loader-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: calc(100% + 50px);
    z-index: 10000;
  
  
  .custom-loader{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
}
      