.logo-container {
    z-index: 0;
    width: 550px;
    height: 700px;
    //opacity: 0;
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 0;
    left: auto;
    margin: auto;
    display: flex;
      align-items: center;
  
    .logo-svg {
      width: 100%;
      height: auto;
      bottom: 0;
      
    }
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      height: fit-content;
      width: 100%;
      opacity: 0;
      object-fit: cover;
      animation: fadeIn 2s ease-in-out 4s forwards;
      
    }
  }
  
.svg-container {
    stroke: #fdd700;
    stroke-width: 2;
    box-shadow: 0 0 10px #fdd700, 0 0 20px #fdd700, 0 0 30px #fdd700;
  }

  @media (max-width:1200px) {
    .logo-container {
      position: absolute;
      width: 35%;
      height: auto;
      margin: auto;
      margin-top: 5%;
      left: 60%;
      

      .logo-svg {
      width: 100%;
      height: auto;
      bottom: 0;
    }

    .solid-logo {
      position: absolute;
      margin-top: 70%;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      z-index: 1;
    }
    }
  }


  @media (max-width: 767px) {
    .logo-container {
      position: absolute;
      height: auto;
      margin: auto;

      .logo-svg {
      width: 100%;
      height: auto;
      bottom: 0;
    }

    
    

    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      z-index: 1;
    }
    }
    
  }

  @media (max-width: 500px) {
    .logo-container {
      position: absolute;
      width: 80%;
      left: 10%;
      height: auto;
      margin-top: 85%;

      .logo-svg {
      width: 100%;
      height: auto;
      bottom: 0;
    }

    
    }

    

    
  }

  


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }