html {
  font-size: 62.5%;
}

:root {
  --primary-color: #fdd700;
  --secondary-color: #000;
  --background-color: #022c43;
  --text-color: #333;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: var(--background-color);
  overflow: hidden;
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
